/* CSS Document */
/* Padrões de Fontes no projeto
// Títulos: Barlow ;
// Citações: Merriweather;
// Texto: 'Arial' ;
// Ordinal / químico: 'Calibri' ;
*/

/*👉 -------------- TÍTULOS --------------👈*/
@font-face {
    font-family: 'Barlow';
    font-style: normal ;
    font-weight:100 ;
    src: url(../fonts/Barlow-Thin.otf) format("opentype"),
        url(../fonts/Barlow-Thin.ttf) format("truetype"),
        url(../fonts/Barlow-Thin.woff2) format("woff2"),
        url(../fonts/Barlow-Thin.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 100;
    src: url(../fonts/Barlow-ThinItalic.otf) format("opentype"),
        url(../fonts/Barlow-ThinItalic.ttf) format("truetype"),
        url(../fonts/Barlow-ThinItalic.woff2) format("woff2"),
        url(../fonts/Barlow-ThinItalic.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style:normal ;
    font-weight:200 ;
    src: url(../fonts/Barlow-ExtraLight.otf) format("opentype"),
        url(../fonts/Barlow-ExtraLight.ttf) format("truetype"),
        url(../fonts/Barlow-ExtraLight.woff2) format("woff2"),
        url(../fonts/Barlow-ExtraLight.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 200;
    src: url(../fonts/Barlow-ExtraLightItalic.otf) format("opentype"),
        url(../fonts/Barlow-ExtraLightItalic.ttf) format("truetype"),
        url(../fonts/Barlow-ExtraLightItalic.woff2) format("woff2"),
        url(../fonts/Barlow-ExtraLightItalic.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight:300 ;
    src: url(../fonts/Barlow-Light.otf) format("opentype"),
        url(../fonts/Barlow-Light.ttf) format("truetype"),
        url(../fonts/Barlow-Light.woff2) format("woff2"),
        url(../fonts/Barlow-Light.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style: italic;
    font-weight:300 ;
    src: url(../fonts/Barlow-LightItalic.otf) format("opentype"),
        url(../fonts/Barlow-LightItalic.ttf) format("truetype"),
        url(../fonts/Barlow-LightItalic.woff2) format("woff2"),
        url(../fonts/Barlow-LightItalic.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style:normal;
    font-weight:400 ;
    src: url(../fonts/Barlow-Regular.otf) format("opentype"),
        url(../fonts/Barlow-Regular.ttf) format("truetype"),
        url(../fonts/Barlow-Regular.woff2) format("woff2"),
        url(../fonts/Barlow-Regular.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style:italic ;
    font-weight:400 ;
    src: url(../fonts/Barlow-Italic.otf) format("opentype"),
        url(../fonts/Barlow-Italic.ttf) format("truetype"),
        url(../fonts/Barlow-Italic.woff2) format("woff2"),
        url(../fonts/Barlow-Italic.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Barlow-Medium.otf) format("opentype"),
        url(../fonts/Barlow-Medium.ttf) format("truetype"),
        url(../fonts/Barlow-Medium.woff2) format("woff2"),
        url(../fonts/Barlow-Medium.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style:italic ;
    font-weight:500 ;
    src: url(../fonts/Barlow-MediumItalic.otf) format("opentype"),
        url(../fonts/Barlow-MediumItalic.ttf) format("truetype"),
        url(../fonts/Barlow-MediumItalic.woff2) format("woff2"),
        url(../fonts/Barlow-MediumItalic.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight:600 ;
    src: url(../fonts/Barlow-SemiBold.otf) format("opentype"),
        url(../fonts/Barlow-SemiBold.ttf) format("truetype"),
        url(../fonts/Barlow-SemiBold.woff2) format("woff2"),
        url(../fonts/Barlow-SemiBold.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 600 ;
    src: url(../fonts/Barlow-SemiBoldItalic.otf) format("opentype"),
        url(../fonts/Barlow-SemiBoldItalic.ttf) format("truetype"),
        url(../fonts/Barlow-SemiBoldItalic.woff2) format("woff2"),
        url(../fonts/Barlow-SemiBoldItalic.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style: normal ;
    font-weight:700 ;
    src: url(../fonts/Barlow-Bold.otf) format("opentype"),
        url(../fonts/Barlow-Bold.ttf) format("truetype"),
        url(../fonts/Barlow-Bold.woff2) format("woff2"),
        url(../fonts/Barlow-Bold.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/Barlow-BoldItalic.otf) format("opentype"),
        url(../fonts/Barlow-BoldItalic.ttf) format("truetype"),
        url(../fonts/Barlow-BoldItalic.woff2) format("woff2"),
        url(../fonts/Barlow-BoldItalic.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/Barlow-ExtraBold.otf) format("opentype"),
        url(../fonts/Barlow-ExtraBold.ttf) format("truetype"),
        url(../fonts/Barlow-ExtraBold.woff2) format("woff2"),
        url(../fonts/Barlow-ExtraBold.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 800;
    src: url(../fonts/Barlow-ExtraBoldItalic.otf) format("opentype"),
        url(../fonts/Barlow-ExtraBoldItalic.ttf) format("truetype"),
        url(../fonts/Barlow-ExtraBoldItalic.woff2) format("woff2"),
        url(../fonts/Barlow-ExtraBoldItalic.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Barlow-Black.otf) format("opentype"),
        url(../fonts/Barlow-Black.ttf) format("truetype"),
        url(../fonts/Barlow-Black.woff2) format("woff2"),
        url(../fonts/Barlow-Black.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/Barlow-BlackItalic.otf) format("opentype"),
        url(../fonts/Barlow-BlackItalic.ttf) format("truetype"),
        url(../fonts/Barlow-BlackItalic.woff2) format("woff2"),
        url(../fonts/Barlow-BlackItalic.woff) format("woff");
    font-display: swap;
}


/*👉 -------------- CITAÇÕES --------------👈*/
@font-face {
    font-family: 'Merriweather';
    font-style:normal ;
    font-weight: 300 ;
    src: url(../fonts/Merriweather-Light.otf) format("opentype"),
        url(../fonts/Merriweather-Light.ttf) format("truetype"),
        url(../fonts/Merriweather-Light.woff2) format("woff2"),
        url(../fonts/Merriweather-Light.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Merriweather';
    font-style:italic ;
    font-weight:300 ;
    src: url(../fonts/Merriweather-LightItalic.otf) format("opentype"),
        url(../fonts/Merriweather-LightItalic.ttf) format("truetype"),
        url(../fonts/Merriweather-LightItalic.woff2) format("woff2"),
        url(../fonts/Merriweather-LightItalic.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal ;
    font-weight: 400 ;
    src: url(../fonts/Merriweather-Regular.otf) format("opentype"),
        url(../fonts/Merriweather-Regular.ttf) format("truetype"),
        url(../fonts/Merriweather-Regular.woff2) format("woff2"),
        url(../fonts/Merriweather-Regular.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight:400 ;
    src: url(../fonts/Merriweather-Italic.otf) format("opentype"),
        url(../fonts/Merriweather-Italic.ttf) format("truetype"),
        url(../fonts/Merriweather-Italic.woff2) format("woff2"),
        url(../fonts/Merriweather-Italic.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight:700 ;
    src: url(../fonts/Merriweather-Bold.otf) format("opentype"),
        url(../fonts/Merriweather-Bold.ttf) format("truetype"),
        url(../fonts/Merriweather-Bold.woff2) format("woff2"),
        url(../fonts/Merriweather-Bold.woff) format("woff");
    font-display: swap;
}
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight:700 ;
    src: url(../fonts/Merriweather-BoldItalic.otf) format("opentype"),
        url(../fonts/Merriweather-BoldItalic.ttf) format("truetype"),
        url(../fonts/Merriweather-BoldItalic.woff2) format("woff2"),
        url(../fonts/Merriweather-BoldItalic.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight:900 ;
    src: url(../fonts/Merriweather-Black.otf) format("opentype"),
        url(../fonts/Merriweather-Black.ttf) format("truetype"),
        url(../fonts/Merriweather-Black.woff2) format("woff2"),
        url(../fonts/Merriweather-Black.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight:900 ;
    src: url(../fonts/Merriweather-BlackItalic.otf) format("opentype"),
        url(../fonts/Merriweather-BlackItalic.ttf) format("truetype"),
        url(../fonts/Merriweather-BlackItalic.woff2) format("woff2"),
        url(../fonts/Merriweather-BlackItalic.woff) format("woff");
    font-display: swap;
}


/*👉 -------------- TEXTO --------------👈*/
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight:100 ;
    src: 
        url(../fonts/WorkSans-Thin.woff2) format("woff2"),
        url(../fonts/WorkSans-Thin.woff) format("woff"),
        url(../fonts/WorkSans-Thin.otf) format("opentype"),
        url(../fonts/WorkSans-Thin.ttf) format("truetype");
        
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic ;
    font-weight: 100;
    src: 
        url(../fonts/WorkSans-ThinItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-ThinItalic.woff) format("woff"),
        url(../fonts/WorkSans-ThinItalic.otf) format("opentype"),
        url(../fonts/WorkSans-ThinItalic.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight:200 ;
    src: 
        url(../fonts/WorkSans-ExtraLight.woff2) format("woff2"),
        url(../fonts/WorkSans-ExtraLight.woff) format("woff"),
        url(../fonts/WorkSans-ExtraLight.otf) format("opentype"),
        url(../fonts/WorkSans-ExtraLight.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic ;
    font-weight: 200;
    src: 
        url(../fonts/WorkSans-ExtraLightItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-ExtraLightItalic.woff) format("woff"),
        url(../fonts/WorkSans-ExtraLightItalic.otf) format("opentype"),
        url(../fonts/WorkSans-ExtraLightItalic.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight:300 ;
    src: 
        url(../fonts/WorkSans-Light.woff2) format("woff2"),
        url(../fonts/WorkSans-Light.woff) format("woff"),
        url(../fonts/WorkSans-Light.otf) format("opentype"),
        url(../fonts/WorkSans-Light.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic ;
    font-weight: 300;
    src: 
        url(../fonts/WorkSans-LightItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-LightItalic.woff) format("woff"),
        url(../fonts/WorkSans-LightItalic.otf) format("opentype"),
        url(../fonts/WorkSans-LightItalic.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal ;
    font-weight: 400;
    src: 
        url(../fonts/WorkSans-Regular.woff2) format("woff2"),
        url(../fonts/WorkSans-Regular.woff) format("woff"),
        url(../fonts/WorkSans-Regular.otf) format("opentype"),
        url(../fonts/WorkSans-Regular.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 400;
    src: 
        url(../fonts/WorkSans-Italic.woff2) format("woff2"),
        url(../fonts/WorkSans-Italic.woff) format("woff"),
        url(../fonts/WorkSans-Italic.otf) format("opentype"),
        url(../fonts/WorkSans-Italic.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style:normal ;
    font-weight:500 ;
    src: 
        url(../fonts/WorkSans-Medium.woff2) format("woff2"),
        url(../fonts/WorkSans-Medium.woff) format("woff"),
        url(../fonts/WorkSans-Medium.otf) format("opentype"),
        url(../fonts/WorkSans-Medium.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style:italic ;
    font-weight: 500;
    src: 
        url(../fonts/WorkSans-MediumItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-MediumItalic.woff) format("woff"),
        url(../fonts/WorkSans-MediumItalic.otf) format("opentype"),
        url(../fonts/WorkSans-MediumItalic.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style:normal ;
    font-weight: 600;
    src: 
        url(../fonts/WorkSans-SemiBold.woff2) format("woff2"),
        url(../fonts/WorkSans-SemiBold.woff) format("woff"),
        url(../fonts/WorkSans-SemiBold.otf) format("opentype"),
        url(../fonts/WorkSans-SemiBold.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 600;
    src: 
        url(../fonts/WorkSans-SemiBoldItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-SemiBoldItalic.woff) format("woff"),
        url(../fonts/WorkSans-SemiBoldItalic.otf) format("opentype"),
        url(../fonts/WorkSans-SemiBoldItalic.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: 
        url(../fonts/WorkSans-Bold.woff2) format("woff2"),
        url(../fonts/WorkSans-Bold.woff) format("woff"),
        url(../fonts/WorkSans-Bold.otf) format("opentype"),
        url(../fonts/WorkSans-Bold.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 700;
    src: 
        url(../fonts/WorkSans-BoldItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-BoldItalic.woff) format("woff"),
        url(../fonts/WorkSans-BoldItalic.otf) format("opentype"),
        url(../fonts/WorkSans-BoldItalic.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    src: 
        url(../fonts/WorkSans-ExtraBold.woff2) format("woff2"),
        url(../fonts/WorkSans-ExtraBold.woff) format("woff"),
        url(../fonts/WorkSans-ExtraBold.otf) format("opentype"),
        url(../fonts/WorkSans-ExtraBold.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 800;
    src: 
        url(../fonts/WorkSans-ExtraBoldItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-ExtraBoldItalic.woff) format("woff"),
        url(../fonts/WorkSans-ExtraBoldItalic.otf) format("opentype"),
        url(../fonts/WorkSans-ExtraBoldItalic.ttf) format("truetype");
    font-display: swap;
}


@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    src: 
        url(../fonts/WorkSans-Black.woff2) format("woff2"),
        url(../fonts/WorkSans-Black.woff) format("woff"),
        url(../fonts/WorkSans-Black.otf) format("opentype"),
        url(../fonts/WorkSans-Black.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 900;
    src: 
        url(../fonts/WorkSans-BlackItalic.woff2) format("woff2"),
        url(../fonts/WorkSans-BlackItalic.woff) format("woff"),
        url(../fonts/WorkSans-BlackItalic.otf) format("opentype"),
        url(../fonts/WorkSans-BlackItalic.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    src: 
        
        url(../fonts/WorkSans-Black.woff2) format("woff2"),
        url(../fonts/WorkSans-Black.woff) format("woff"),
        url(../fonts/WorkSans-Black.otf) format("opentype"),
        url(../fonts/WorkSans-Black.ttf) format("truetype");
        font-display: swap;
}



/*👉 -------------- ORDINAL --------------👈*/

/*👉 -------------- QUIMICO --------------👈*/



:root {
    /* Fontes */
    --titulo: 'Barlow' ;
    --citacao:'Merriweather' ;
    --texto: 'Work Sans';
    --ordinal:'Work Sans' ;
    --quimico:'Work Sans' ;

    /* Tamanhos */
    --peso1: 1.8em;
    --peso2: 1.7em;
    --peso3: 1.6em;
    --peso4: 1.5em;
    --peso5: 1.4em;
    --peso6: 1.3em;
    --peso7: 1.2em;
    --peso8: 1.1em;
    --peso9: 0.9em;
    --pesoPadrao: 1em;
    --pesoMenor: 0.8em;
    --pesoIntermediario: 0.9em;

    /* Cores */
    --corprof: #8a014c;
    --preto_: #1d1d1b;
    --preto:#000;
    --branco: #fff;
    --cinza: #ececec;
    --cinza2:#3e3e3e;
    --link: #00649c;
    --manualu: #E4F2E7;
    --apresentacao: #dff1fd;
    --recado: #ececec;

    --azul1:#4C76BA;
    --azul2:#7297CE;
    --azul3:#C8D9F1;
    --azul4:#DFEAF8;

    --turquesa1:#003C3C;
    --turquesa2:#069297;
    --turquesa3:#97D2D4;
    --turquesa4:#E0F1F5;

    --verde1:#00A15A;
    --verde2:#6EAB27;
    --verde3:#CCE5CE;
    --verde4:#E2EDD0;

    /*👉
    --citrico1:#94C23E;
    --citrico2:#D0DE84;
    --citrico3:#E4ECBC;
    --citrico4:#ECF3DA;
    👈*/

    --laranja1:#EC8E38;
    --laranja2:#FCD7B8;
    --laranja3:#FDECE5;
    --laranja4:;

    --amarelo1:#E6E09C;
    --amarelo2:#F2E500;
    --amarelo3:#FBEE66;
    --amarelo4:#FFF9C7;

    /*👉
    --vermelho1:#ac2d31;
    --vermelho2:#EDAAA0;
    --vermelho3:#fce3df;
    --vermelho4:#fff5f3;
    👈*/

    --rosa1:#EA5178;
    --rosa2:#FAD1D6;
    --rosa3:#f29db0;
    --rosa4:;

    --roxo1:#470F51;
    --roxo2:#A71680;
    --roxo3:#E7D5EA;
    --roxo4:#F3EAF5;

    --lilas1:#6E368C;
    --lilas2:#7F5CA3;
    --lilas3:#C8C1E1;
    --lilas4:#E8E6F4;

    --odsEscuro: #9c0f06;
    --ods: #e30513;
    --odsFundo: #fbd9d2;
   
    --odsFndAzul: #dff2fd;
   
    --estrategiaEscuro: #af2608;
    --estrategia: #ed7102;
    --estrategiaFundo:#fde1c6;
   
   
    --juventudesEscuro:#006f2c;
    --juventudes: #55a932;
    --juventudesFundo: #e1efe3;
   
    --midiaticaEscuro:#0056a4;
    --midiatica: #009ed4;
    --midiaticaFundo: #d4edfc;

    --manuFundo: #f8f5ea;
    --manuGravata:#ebc19d; 
    --manuVocabulario:#7e2c2a;
    --manuEsquema1:#26466d;
    --manuEsquema2:#aabad2;
    --manuEsquema3: #e9cb68;

    --oed: #006436;
    --faixaaudio: #922380;
    --transcricao: #005a8d;

}


.boxdegrade{
    width: 100px;
    height: 100px;
    margin: 1em 0;
}

.gradiente_a1 {
    background: linear-gradient(24deg,#94C23E, #7263A9);
}
.gradiente_a2 {
    background: linear-gradient(24deg,#D0DE84, #A69DCD);
}

.gradiente_b1 {
    background: linear-gradient(24deg,#87CDD3, #F7AE82);
}
.gradiente_b2 {
    background: linear-gradient(24deg,#BEE2E9, #FCD7B8);
}

.gradiente_c1 {
    background: linear-gradient(24deg,#FED27A, #F39DB0);
}
.gradiente_c2 {
    background: linear-gradient(24deg,#FFE6AC, #F8C7D0);
}

.gradiente_d1 {
    background: linear-gradient(24deg,#87CDD3, #A69DCD);
}
.gradiente_d2 {
    background: linear-gradient(24deg,#BEE2E9, #D2CDE8);
}


.gradiente_e1 {
    background: linear-gradient(24deg,#F39DB0, #86C2EB);
}
.gradiente_e2 {
    background: linear-gradient(24deg,#F8C7D0, #BCDCF5);
}


.gradiente_h1 {
    background: linear-gradient(24deg,#D0DE84, #9BCEA4, #87CDD3, #86C2EB);
}
.gradiente_h2 {
    background: linear-gradient(24deg,#E4ECBC, #BEE2E9, #BEE2E9, #BCDCF5);
}



